body{
    background-color:#FFFFFF;
    z-index: 0;
}
#text{
    color: rgba(108, 177, 177, 0.78);
}
#postButton{
    float: right;
}
nav{
    background-color: #ffffff !important;
    
}
nav .brand-logo {
    color: #90C4B5 !important;
}
#header{
    padding: 10px;
    position: fixed;
    top:0;
    left:0;
}

#post{
    -webkit-box-shadow: 1px 2px 5px 3px rgba(144,196,181,1);
    -moz-box-shadow: 1px 2px 5px 3px rgba(144,196,181,1);
    box-shadow: 1px 2px 5px 3px rgba(144,196,181,1);
    margin-top: 20px;
    padding:10px;
    border-radius: 5px; 
}
#post:hover{
    -webkit-box-shadow: 1px 2px 9px 7px rgba(144,196,181,1);
    -moz-box-shadow: 1px 2px 9px 7px rgba(144,196,181,1);
    box-shadow: 1px 2px 9px 7px rgba(144,196,181,1);
}
#time{
    float: right;
}
ul{
    background-color: #FFFFFF;
    color: #000000;
}
#loader{
    position: absolute;
    z-index: 999999999 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    display: none;
}
.blur{
    filter: blur(4px);
}
#countPosts{
    border: 1px solid rgba(0, 0, 0, 0.78);
    padding: 5px;
}
.new{
    margin-top: 50px !important;
}
.modal-trigger{
    background-color: #ffffff !important;
    color: black;
}
.modal-trigger:hover{
    background-color: rgba(155,233,212,1) !important;
    color: #FFFFFF;
}
